@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ui-container {
    @apply ml-12 max-sm:ml-6 mt-12 max-sm:mt-6;
  }
  .card {
    @apply bg-cover bg-center bg-[url('./cardBackground.png')] max-sm:w-72 w-96 max-sm:h-52 h-68 rounded-2xl pl-6 max-sm:pt-4 pt-6 pr-6 max-sm:pr-5 max-sm:text-xs mt-6 max-sm:mt-4;
  }
  .card-branding-container {
    @apply flex h-16 max-sm:h-12;
  }
  .card-logo {
    @apply max-sm:w-26 w-32 max-sm:h-20 h-28;
  }
  .card-virual-badge-container {
    @apply flex-none;
  }
  .card-virtual-badge {
    @apply text-black font-semibold bg-white px-4 max-sm:px-2 max-sm:py-1 py-1 rounded-2xl;
  }
  .card-number {
    @apply text-white text-2xl font-bold max-sm:text-lg;
  }
  .card-security-container {
    @apply flex h-16 max-sm:h-12 mt-6 max-sm:mt-4;
  }
  .card-exp-header {
    @apply text-gray-200 text-xs font-semibold;
  }
  .card-exp-label {
    @apply text-white font-bold;
  }
  .card-zip {
    @apply text-white font-medium mt-1;
  }
  .checkbox-container {
    @apply mt-4 flex space-x-2;
  }
  .styled-checkbox {
    @apply accent-benepass-red w-4 rounded-2xl p-10;
  }
  .dot {
    @apply h-2 w-2 bg-white rounded-2xl mr-1.5 max-sm:mr-1.5;
  }
  .card-footer-container {
    @apply flex;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
